@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Anton|Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Anton|Josefin+Sans|Lobster');
html,body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}
.navbar{
  padding: .8rem;
}
.navbar-nav li{
  padding-right: 20px;
}
.nav-link{
  font-size: 1.1em !important;
}
.logo{
    height: 20%;
    width: 200px;
}
.padding{
  padding-bottom: 2rem;
}
footer{
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}
hr.light{
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top:.8rem ;
  margin-bottom: 1rem;
}
footer a{
  color: #d5d5d5;
}
hr.light-100{
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top:.8rem ;
  margin-bottom: 1rem;
}
.resizing{
    height: 250px;
    width: 100%;
}

#category{
    padding-top: 120px! important;
}
#category h2{
    font-size: 1.5rem! important;
    border-bottom: 1px solid black;
    color: black;
    font-weight: bolder;
    margin-top: 10px;
}

#category li {
    text-align: center;
     list-style: none;
    margin-top: 10px;
}

#category li a{
    text-decoration: none;
   
}
#category li a:hover{
   color: black;
    text-decoration: underline
   
}
.margin{
    margin-top:.8rem;
   
}

.modal-content{
     border: 3px solid black;
    box-shadow: 3px 1px 18px black inset;
}
.modal-header{
     border-bottom:  0px;
    font-family: 'Anton', sans-serif;
    
}
.modal-footer{
    border-top: 0px;}
.modal-title{
    text-transform: uppercase;
    font-size:2rem;  
}
.modal-body h3 {
    padding-top: 10px;
    padding-left: 10px;
    color: red;
    font-weight: bold;
    
    
}
.modal-body h4{
    padding-left: 45%;
    border-bottom: 1px dotted black;   
    font-family: 'Anton', sans-serif;
}






















/*---Media Queries --*/
@media (max-width: 992px) {
  
  }
@media (max-width: 768px) {
 
}
@media (max-width: 576px) {
 
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
 -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/








